node_modules

.rx
.idea
.vscode
*.log
.DS_Store
*.vsix
package-lock.json

packages/antd-relx-cli/lib/commands
packages/antd-relx-cli/lib/compiler
packages/antd-relx-cli/lib/config
packages/antd-relx-cli/lib/shared
packages/antd-relx-cli/lib/index.d.ts
packages/antd-relx-cli/site/mobile/*.routes.ts
packages/antd-relx-cli/site/mobile/routes.ts
packages/antd-relx-cli/site/pc/*.routes.ts
packages/antd-relx-cli/site/pc/routes.ts
packages/antd-relx-cli/site/site.config.json
packages/antd-relx-cli/site/*.site.config.json

packages/antd-relx-ui/lib
packages/antd-relx-ui/es
packages/antd-relx-ui/umd
packages/antd-relx-ui/highlight

packages/antd-relx-icons/dist

packages/antd-relx-cli/generators/**/es
packages/antd-relx-cli/generators/**/umd
packages/antd-relx-cli/generators/**/lib
packages/antd-relx-cli/generators/**/highlight
packages/antd-relx-cli/generators/**/coverage
